extends layout

block content
  h1
    i.fab.fa-node
    |  Storage Tools
  h3
  | Una suite di strumenti sviluppati in   
  i.fab.fa-node
  a(href="http://nodejs.org", target="_blank", rel="noopener noreferrer")
    |  NodeJS