extends layout

block content
  h1= title
  p Welcome to #{title}

block menu
  .list-group
    a.list-group-item.list-group-item-action.list-group-item-secondary.active(href="#") Reperibili
    a.list-group-item.list-group-item-action.list-group-item-secondary(href="#") Crea repribile
 