- let D = { 'BO1' : 'Bologna' , 'MI3' : 'Cesano' , 'NA1' : 'Napoli' , 'PD1' : 'Padova' , 'RM4' : 'Oriolo' }


.row
    .col-lg-12
        h1
            i.fa.fa-search.fa-fw
            | Ricerca Shares ZFS
hr

.row
    .col-lg-6
        | Il database contiene
    .col-lg-6
        | Scegli il campo e il datacenter su cui fare la ricerca

.row
    .form-froup.col-md-6
        label(for="")
        span(role="status")
        input.form-control.ui-autocomplete-input(type="text" id="host" value="" autocomplete="off")

    .col-md-6
        br
        .btn-group.btn-group-toggle(data-toggle='buttons')
            label.btn.btn-primary.campo.active
                input#option1(type='radio', name='campo', autocomplete='off', checked='')
                |  Share
            label.btn.btn-primary.campo
                input#option2(type='radio', name='campo', autocomplete='off')
                |  Project
            label.btn.btn-primary.campo
                input#option3(type='radio', name='campo', autocomplete='off')
                |  Box
            &nbsp;&nbsp;&nbsp;
        .btn-group.btn-group-toggle(data-toggle='buttons')
            label.btn.btn-primary.datacenter.active
                input#option1(type='radio', name='datcenter', autocomplete='off', checked='')
                |  All
            - for( let i = 0; i < datacenter.length; i++ )
                    label.btn.btn-primary.datacenter
                        input#option2(type='radio', name='datcenter', autocomplete='off')
                        |  #{D [ datacenter[ i ].dc ] }
        
 
        p.help-block
            | Ricerca per: campo 
            span#campo-ricerca.badge.badge-danger(style='text-transform: capitalize') Share
            | , datacenter 
            span#dc-ricerca.badge.badge-danger(style='text-transform: capitalize') All
            

.row
    .col#out

