
.form-row
    .form-group.col-md-4
        label(for="nome") Nome
        input.form-control(type="text" id="nome" placeholder="Nome")

    .form-group.col-md-4
        label(for="Cognome") Cognome
        input.form-control(type="text" id="cognome" placeholder="Cognome")
